
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/LoginPage.css" rel="stylesheet" />

<div class="logo"></div>

<form class="LoginBox">
    <div class="boxLine">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Username</span>
            <input type="text" class="form-control"  aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="boxLine">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="text" class="form-control"  aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="buttonBox">
        <button type="button" class="btn btn-secondary">Login</button>
    </div>
</form>
