
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h1> Categories </h1>
</div>
<script src="~/Scripts/KnockoutScripts/CategoriesViewModel.js"></script>
