@model QuizClient.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    admin page + @Model.Message @Model.Username
</div>
</body>
</html>
