
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/AdminPages/UsersPage.css" rel="stylesheet" />

<div class="page-header">
    <h1> Users </h1>
</div>

<div class="container-fluid">
    <form class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="addUserGroup" class="input-group">
                <span class="input-group-addon"> Add user </span>
                <input type="email" class="form-control" placeholder="Email address" data-bind="value: $root.emailInput" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: $root.addUser">
                        Submit
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div id="assignTestGroup" class="input-group my-group">
                <select class="form-control" data-bind="options: users,optionsText: 'Email',value: selectedUser,optionsCaption: 'Available Users'"></select>
                <select class="form-control" data-bind="options: tests,optionsText: 'NameLevel',value: selectedTest,optionsCaption: 'Available Tests'"></select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" data-bind="click: $root.assignTest">Assign</button>
                </span>
            </div>
        </div>
    </form>

    <br /> <br />

    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-9 col-sm-12 col-xs-12">

            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th class="text-center"> Email </th>
                        <th class="text-center"> Curent test </th>
                        <th class="text-center"> Finished Tests </th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: users">
                    <tr>
                        <td class="text-center" data-bind="text: Email"> </td>
                        <td class="text-center" data-bind="text: CurrentTest"> </td>
                        <td class="text-center" data-bind="text: FinishedTests"> </td>
                        <td class="text-center"><span class="glyphicon glyphicon-remove" data-bind="click: $root.removeUser"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" id="displayMessage">

        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-5 col-md-5 col-sm-8 col-xs-8">
            <div data-bind="css : $root.messageCssClass()">
                <strong data-bind="text: $root.alertMessage"> </strong>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/KnockoutScripts/UsersViewModel.js"></script>

