
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/UserPages/TestPage.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json">
    <title>Index</title>
</head>
<body>

    <div class="container-fluid" id="mainContainer">
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-4 col-md-4 col-sm-5 col-xs-5">
                <h1 id="timerContainer">  <span class="label label-primary" id="timer">   </span> </h1>
            </div> 
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-offset-2 col-xs-offset-2 col-sm-5 col-xs-5">
                <button class="btn btn-primary btn-lg pull-right"> Finish Test </button>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="btn-group btn-group-justified" data-bind="foreach: technologyList">
                    <a class="btn btn-primary" data-bind="text: Name,click:$root.changeTechnology"></a>
                </div>
            </div>
        </div>

        <br />

        <div class="container" id="questionContainer" data-bind="foreach: questionList">
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="jumbotron">
                        <h3 data-bind="text: QuestionText">  </h3>
                        <div class="checkbox" data-bind="foreach: Answers">
                            <label><input type="checkbox" value=""> <strong data-bind="text: AnswerText"></strong> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/PageScripts/UserPage.js"></script>
    <script src="~/Scripts/KnockoutScripts/TestViewModel.js"></script>
</body>
</html>
